.area {
  display: flex;
  height: 100vh;
}

.header {
  width: 20%;
  border-right: 0.3px solid;
}

.main {
  width: 60%;
  background-color: var(--background-color);
  overflow: auto;
}

.footer {
  width: 20%;
  border-left: 0.3px solid;
}
