.listArea {
  display: flex;
  height: 100%;
}

.listContainer {
  list-style: none;
  width: 50%;
  border-right: 1px solid white;
}

.listSelectedItem {
  color: var(--white);
  border-right: 3px solid #3168ff;
  padding: 10px 15px;
  margin-right: -1px;
  font-size: 20px;
  justify-content: space-between;
  display: flex;
  cursor: pointer;
  background-color: #4b4b4b;
}

.listNotSelectedItem {
  color: var(--white);
  border-right: 1px solid #ffffff;
  padding: 10px 15px;
  margin-right: -1px;
  font-size: 20px;
  justify-content: space-between;
  display: flex;
  cursor: pointer;
}

.contentContainer {
  height: 100%;
  width: 50%;
}

.sideContainer {
  display: grid;
  gap: 10px;
  align-items: center;
  padding: 50px 30px 0px 30px;
}

.title {
  color: var(--color);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.userContainer {
  display: grid;
  gap: 10px;
  align-items: center;
}

.userLabel {
  color: var(--color);
  font-size: 20px;
  display: block;
}

.userData {
  color: var(--color);
  font-size: 20px;
  display: block;
}

.sideLogoutContainer {
  display: grid;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.logout {
  color: var(--color);
  font-size: 30px;
  cursor: pointer;
}

.logoutButton {
  color: var(--color);
  font-size: 20px;
  cursor: pointer;
  background-color: var(--background-color);
  border-radius: 50px;
  padding: 10px 20px;
  display: block;
  font-weight: bold;
}

.mobileBar {
  display: none;
}

@media screen and (max-width: 1070px) {
  .listContainer {
    width: 35%;
  }
  .contentContainer {
    margin: 0 auto;
  }
  .title {
    font-size: 20px;
  }
  .logout {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .mobileBar {
    display: block;
  }
  .header {
    color: var(--color);
    text-align: center;
    font-size: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  .headerLeftButton {
    display: block;
    font-size: 20px;
  }
  .headerRightBlock {
    display: block;
    opacity: 0;
  }
  .listArea {
    width: 100%;
    display: block;
  }
  .contentContainer {
    display: none;
  }
  .listContainer {
    display: none;
  }
  .sideContainer {
    display: none;
  }
  .mobileBar {
    width: 100%;
    height: 100%;
  }
  .mobilSideContainer {
    padding: 10px;
    display: grid;
    gap: 10px;
    align-items: center;
  }
  .userContainer {
    display: grid;
    width: 100%;
    gap: 10px;
  }
}
